* {
  margin: 0;
  padding: 0;

}
header{
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url('../images/header.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

navbar{
  background-color: transparent !important;
 }
}

.tex-right{
  display: flex;
  align-items: center;
}
